nav {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 16px 0;
    z-index: 10000;
    background: linear-gradient(180deg, $deep-blue 0%, rgba(4, 24, 48, 0.00) 100%);

    @include media-breakpoint-down(sm) {
        height: 80px;
    }

    #menu-primary-menu {
        .nav-item.dropdown {
            border-radius: 10px;
            border: 2px solid $purple;
            padding: 6px 42px 6px 16px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"%3E%3Cpath d="M8.91361 0.979492C7.24743 0.979492 5.61867 1.47357 4.23329 2.39925C2.84792 3.32493 1.76815 4.64063 1.13053 6.17998C0.492908 7.71933 0.326078 9.41318 0.651133 11.0473C0.976188 12.6815 1.77853 14.1826 2.9567 15.3608C4.13486 16.5389 5.63594 17.3413 7.2701 17.6663C8.90426 17.9914 10.5981 17.8245 12.1375 17.1869C13.6768 16.5493 14.9925 15.4695 15.9182 14.0842C16.8439 12.6988 17.338 11.07 17.338 9.40384C17.338 7.16956 16.4504 5.0268 14.8705 3.44693C13.2907 1.86705 11.1479 0.979492 8.91361 0.979492ZM12.7046 8.5614L9.19442 13.2411C9.1619 13.285 9.11956 13.3206 9.0708 13.3451C9.02204 13.3697 8.9682 13.3825 8.91361 13.3825C8.85902 13.3825 8.80518 13.3697 8.75642 13.3451C8.70765 13.3206 8.66532 13.285 8.6328 13.2411L5.12265 8.5614C5.08354 8.50925 5.05972 8.44724 5.05387 8.38232C5.04801 8.31739 5.06035 8.25212 5.08951 8.19382C5.11866 8.13551 5.16347 8.08648 5.21892 8.0522C5.27438 8.01793 5.33828 7.99978 5.40346 7.99978H12.4238C12.4889 7.99978 12.5528 8.01793 12.6083 8.0522C12.6637 8.08648 12.7086 8.13551 12.7377 8.19382C12.7669 8.25212 12.7792 8.31739 12.7733 8.38232C12.7675 8.44724 12.7437 8.50925 12.7046 8.5614Z" fill="%23B083FB"%3E%3C/path%3E%3C/svg%3E') center/contain no-repeat;
                height: 16px;
                width: 16px;
                top: 46%;
                right: 14px;
                transform: translateY(-50%);
            }

            .sub-menu.dropdown-menu {
                --bs-dropdown-min-width: 17rem;
                background-color: $blue !important;
                border: 2px solid $purple !important;
                top: 100%;
                left: 0;
                padding: 16px 8px;
            }

            &:hover {
                .sub-menu.dropdown-menu {
                    display: block;
                }
            }
        }
    }
}

section.sliding-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $deep-blue;
    z-index: 100000;
    transform: translateX(-100%);
    transition: 0.1s all;

    &.active {
        transform: translateX(0);
    }
}

section.banner {
    margin-top: 100px;

    @include media-breakpoint-down(sm) {
        margin-top: 80px;
    }

    .heroImage {
        height: 580px;
        border-radius: 70px;
        border: none;
        overflow: hidden;

        @include media-breakpoint-down(lg) {
            border-radius: 30px;
        }
    }
}

.homepageProjectsSlider {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        margin: 0 9px;
        width: 370px;
        height: 550px;

        &.slick-current.slick-center {
            width: 988px;

            @include media-breakpoint-down(lg) {
                width: 750px;
            }

            @include media-breakpoint-down(sm) {
                width: 320px;
            }
        }

        .inner {
            position: absolute;
            top: 0;
            left: 0;
            padding: 50px 0;
            height: 100%;
            width: auto;
            display: flex;
            flex-wrap: nowrap;
            background: linear-gradient(90deg, #0E2941 13.15%, rgba(14, 41, 65, 0.53) 58.43%, rgba(14, 41, 65, 0.00) 82.18%);

            .inner-left {
                padding: 0 25px 0 50px;
                width: 370px;

                @include media-breakpoint-down(sm) {
                    width: 320px;
                    padding: 0 25px;
                }
            }

            .inner-right {
                padding: 0 50px 0 25px;
                width: 618px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .innerSlider {

                    .slick-list,
                    .slick-track,
                    .slick-slide {
                        height: 100%;
                    }

                    .slick-slide {
                        margin: 0 6px;
                        height: 144px;

                        img {
                            height: 100%;
                            width: 100%;
                            object-position: center;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    .slick-dots {
        li {
            height: 7px;
            width: 7px;

            button {
                padding: 0;
                height: 7px;
                width: 7px;

                &::before {
                    height: 7px;
                    width: 7px;
                    background: white;
                    border-radius: 50%;
                    content: "";
                    opacity: 0.2;
                    line-height: 1;
                }
            }

            &.slick-active button::before {
                opacity: 0.75;
            }
        }
    }
}

section#journey-begins-slider {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        margin: 0 50px;
    }
}

section.commonform {
    .form-first-fold {
        height: 100%;
        background: imgUrl('homepage-form.png') right bottom $primary;
    }

    .form-second-fold {
        height: 100%;
        background: rgba(0, 173, 238, 0.1);

        .form-control {
            border: none;
            border-bottom: 1px solid $white;
            border-radius: 0;
            outline: none;
            box-shadow: none;
            padding: 11px 8px;
            width: 100%;
            background: none;
            font-family: $font-century;
            color: $white;
            font-weight: 200;

            &::placeholder {
                color: $white;
            }
        }
    }
}

section.common-services {
    .service-fold {
        border-radius: 90px 90px 1px 1px;
        position: relative;
        overflow: hidden;
        transition: margin-top 0.8s ease;

        @include media-breakpoint-down(lg) {
            border-radius: 50px 50px 1px 1px;
        }

        .overlay {
            padding: 72px 0 289px;
            background: linear-gradient(270deg, #041830 0%, rgba(4, 24, 48, 0.45) 57.67%, rgba(4, 24, 48, 0.00) 100%);
        }
    }

    .service-fold-negative-margin {
        margin-top: -400px;
    }

    .service-fold-1:hover+.service-fold-2,
    .service-fold-2:hover+.service-fold-3,
    .service-fold-3:hover+.service-fold-4,
    .service-fold-4:hover+.service-fold-5,
    .service-fold-5:hover+.service-fold-6,
    .service-fold-6:hover+.service-fold-7,
    .service-fold-7:hover+.service-fold-8,
    .service-fold-8:hover+.service-fold-9,
    .service-fold-9:hover+.service-fold-10,
    .service-fold-10:hover+.service-fold-11 {
        margin-top: -100px;
    }
}