nav {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 16px 0;
    z-index: 10000;
    background: linear-gradient(180deg, $deep-blue 0%, rgba(4, 24, 48, 0.00) 100%);
}

section.banner {
    margin-top: 100px;

    .heroImage {
        height: 580px;
        border-radius: 70px;
        border: none;
        overflow: hidden;
    }
}