nav {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 16px 0;
    z-index: 10000;
    background: linear-gradient(180deg, $deep-blue 0%, rgba(4, 24, 48, 0.00) 100%);
}

section.banner {
    margin-top: 100px;

    .heroImage {
        height: 580px;
        border-radius: 70px;
        border: none;
        overflow: hidden;

        @include media-breakpoint-down(md) {
            border-radius: 30px;
        }
    }
}

.homepageProjectsSlider {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        margin: 0 9px;
        width: 370px;
        height: 550px;

        &.slick-current.slick-center {
            width: 988px;
        }

        .inner {
            position: absolute;
            top: 0;
            left: 0;
            padding: 50px 0;
            height: 100%;
            width: auto;
            display: flex;
            flex-wrap: nowrap;
            background: linear-gradient(90deg, #0E2941 13.15%, rgba(14, 41, 65, 0.53) 58.43%, rgba(14, 41, 65, 0.00) 82.18%);

            .inner-left {
                padding: 0 25px 0 50px;
                width: 370px;
            }

            .inner-right {
                padding: 0 50px 0 25px;
                width: 618px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .innerSlider {

                    .slick-list,
                    .slick-track,
                    .slick-slide {
                        height: 100%;
                    }

                    .slick-slide {
                        margin: 0 6px;
                        height: 144px;

                        img {
                            height: 100%;
                            width: 100%;
                            object-position: center;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    .slick-dots {
        li {
            height: 7px;
            width: 7px;

            button {
                padding: 0;
                height: 7px;
                width: 7px;

                &::before {
                    height: 7px;
                    width: 7px;
                    background: white;
                    border-radius: 50%;
                    content: "";
                    opacity: 0.2;
                    line-height: 1;
                }
            }

            &.slick-active button::before {
                opacity: 0.75;
            }
        }
    }
}

section#journey-begins-slider {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        margin: 0 50px;
    }
}

section.commonform {
    .form-first-fold {
        height: 100%;
        background: imgUrl('homepage-form.png') right bottom $primary;
    }

    .form-second-fold {
        height: 100%;
        background: rgba(0, 173, 238, 0.1);

        .form-control {
            border: none;
            border-bottom: 1px solid $white;
            border-radius: 0;
            outline: none;
            box-shadow: none;
            padding: 11px 8px;
            width: 100%;
            background: none;
            font-family: $font-century;
            color: $white;
            font-weight: 200;

            &::placeholder {
                color: $white;
            }
        }
    }
}

section.common-services {
    .service-fold {
        border-radius: 90px 90px 1px 1px;
        position: relative;
        overflow: hidden;
        transition: margin-top 0.8s ease;

        @include media-breakpoint-down(sm) {
            border-radius: 50px 50px 1px 1px;
        }

        .overlay {
            padding: 72px 0 289px;
            background: linear-gradient(270deg, #041830 0%, rgba(4, 24, 48, 0.45) 57.67%, rgba(4, 24, 48, 0.00) 100%);
        }
    }

    .service-fold-negative-margin {
        margin-top: -400px;
    }

    .service-fold-1:hover+.service-fold-2,
    .service-fold-2:hover+.service-fold-3,
    .service-fold-3:hover+.service-fold-4,
    .service-fold-4:hover+.service-fold-5,
    .service-fold-5:hover+.service-fold-6,
    .service-fold-6:hover+.service-fold-7,
    .service-fold-7:hover+.service-fold-8,
    .service-fold-8:hover+.service-fold-9,
    .service-fold-9:hover+.service-fold-10,
    .service-fold-10:hover+.service-fold-11 {
        margin-top: -100px;
    }
}