section.homeBanner {
    background: imgUrl('banner.jpg') center top;
    background-size: cover;
    padding-top: 490px;

    .services {
        background: linear-gradient(0deg, rgba(4, 24, 48, 0.72) 44.39%, rgba(4, 24, 48, 0.00) 100%);
    }
}

main.frontpage {
    section.envision {
        background: imgUrl('envision.jpg') center top;
        height: 1003px;
        position: relative;
        overflow: hidden;
        transition: 1s all ease-in-out;

        &:hover {
            background-position: center bottom;
        }
    }

    section.who-we-are {
        background: rgba(0, 173, 238, 0.1);
        padding: 168px 0 0;

        .cta-box {
            padding: 32px;

            .img {
                height: 230px;
                display: flex;
                align-items: center;
            }
        }

        .embed iframe {
            width: 100%;
            height: 100%;
        }
    }

    section.testimonials {
        padding-top: 136px;

        #testimonialSlider {
            .slick-track {
                display: flex;
            }

            .slick-slide {
                height: inherit;
                border-right: 1.5px solid $primary;
                padding: 20px 80px;
                text-align: center;
            }
        }
    }

    section#gallerySlider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;

            img {
                height: 480px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

main.aboutUsPage {
    section.introduction {
        .introduction-card {
            background: rgba(53, 151, 175, 0.2);

            .image {
                height: 130px;
            }
        }
    }

    section.established {
        .established-image {
            height: 662px;
        }
    }

    section.vision {
        .vision-slider {
            .slick-track {
                display: flex;
            }

            .slick-slide {
                height: inherit;
                height: 276px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .slick-dots {
                bottom: 10px;

                li {
                    height: 6px;
                    width: 6px;

                    button {
                        padding: 0;
                        height: 6px;
                        width: 6px;

                        &::before {
                            height: 6px;
                            width: 6px;
                            background: white;
                            border-radius: 50%;
                            content: "";
                            opacity: 0.2;
                            line-height: 1;
                        }
                    }

                    &.slick-active button::before {
                        opacity: 0.75;
                    }
                }
            }
        }
    }

    section.story {
        .mastermind-card {
            .image {
                background: #d9d9d9;
                height: 511px;
                width: 100%;
            }
        }
    }
}

main.projectsListingPage {
    section.about {
        background: imgUrl('projectsListingIntroduction.jpg') center;
        background-size: cover;
    }
}

main.innerProjectsPage {
    .project-card {
        .image {
            height: 660px;
            width: 100%;
            background: $light;
        }
    }
}

main.innerServicePage {
    .number {
        height: 48px;
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-bottom: 12px;
        background: rgba(53, 151, 175, 0.2);
    }

    section.about {
        background: imgUrl('projectsListingIntroduction.jpg') center;
        background-size: cover;
    }

    section.process {
        .step {
            background: rgba(105, 194, 219, 0.2);
        }
    }
}